.reviewForm {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 18px;
    padding-inline-start: 25px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label {
    font-size: 14px;
    margin-bottom: 4px;
}

.input,
.textarea {
    border: 1px solid #3a4250;
    border-radius: 5px;
    background: #1a2027;
    color: #d1d7e0;
    padding: 8px 10px;
    font-size: 14px;
    outline: none;
    transition: border 0.2s;
}

.input:focus,
.textarea:focus {
    border-color: #4f8cff;
}

.textarea {
    min-height: 60px;
    resize: vertical;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 8px 18px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 600;
    color: #ffffff;
    background-color: #347d39;
    border-color: #cdd9e51a;
    box-shadow: 0px 1px 1px 0px #1c212899, 0px 1px 3px 0px #1c212899;
}

.button:hover {
    background: #429e49;
}

.fieldRating {
    flex-direction: row;
    justify-content: space-between;
    align-items: anchor-center;
}